<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= (locals.title === ``) ? `` : `${locals.title} - ` %>Aplikace</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header style="background-color: lightgrey;">
        <h1><a href="/" style="text-decoration: none; margin-left: 785px;">Template Express</a></h1>
        <nav>
            <ul>
            </ul>

            <ul>
                <% if (locals.user) { %>
                    <li><a style="text-decoration: none;" href="/users/profile">Profil</a></li>
                    <li><a style="text-decoration: none;" href="/users/logout">Odhlásit</a></li>
                <% } else { %>
                    <li><a style="text-decoration: none;" href="/users/login">Přihlásit</a></li>
                    <li><a style="text-decoration: none;" href="/users/signup">Registrovat</a></li>
                <% } %>
            </ul>
        </nav>
    </header>
    
    <main>
        <% if (title !== ``) { %>
            <h2><%= title %></h2>
        <% } %>
        