<%- include('../partials/header') %>

<h2>Možnosti: </h2>

<p style="text-align: center;">Přihlášený uživatel: <%= locals.user %></p>

<ul>
    <a style="text-decoration: none; margin-left: 850px; color: black;" href="/users/logout">Odhlásit</a>
    <a style="text-decoration: none; margin-left: 840px; color: black;" href="/users/delete">Smazat účet</a>
</ul>
    

<%- include('../partials/footer') %>