<%- include('../partials/header') %>
<form action="/users/login" method="post">
    <div>
        <label for="username">Uživatelské jméno: </label>
        <input style="margin-left: 50px;" type="text" id="username" name="username" required>
    </div>

    <div>
        <label for="password">Heslo: </label>
        <input style="margin-left: 139px;" type="password" id="password" name="password" required>
    </div>
    
    <button style="margin-left: 189px;" type="submit">Přihlásit</button>
    <p style="text-align: center;">Nemáte stále uživatelský účet?</p><a style="padding-left: 885px; text-decoration: none; color: black;" href="/users/signup">Registrovat</a>
    <p><%= locals.error || '' %></p>
</form>
<%- include('../partials/footer') %>